<nav class="navbar navbar-dark bg-dark justify-content-end">
  <%= link_to root_path(locale: 'pt-BR') do %>
    <%= image_tag 'br.webp', alt:"Português do Brasil", width:"40", height:"30", class:"mr-3" %>
  <% end %>
  <%= link_to root_path(locale: 'en') do %>
    <%= image_tag 'en.webp', alt:"English", width:"40", height:"30" %>
  <% end %>
</nav>